body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #2b2b2b;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

.pesquisa input {
    padding: 5px;
    width: 300px;
}

.pesquisa button {
    padding: 5px 10px;
    background-color: #ff9900;
    border: none;
    color: white;
    cursor: pointer;
}


/*
.banner {
    background-color: #ff9900;
    color: white;
    text-align: center;
    padding: 20px;
}
*/
footer {
    background-color: #2b2b2b;
    color: white;
    text-align: center;
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
